__pycache__/
dotfiles/.config/qimgv/savedState.conf
dotfiles/.config/gtk-3.0/bookmarks
dotfiles/.config/zsh/.zhistory
dotfiles/.config/zsh/.zcompdump
dotfiles/.config/qimgv/savedState.conf
dotfiles/.config/gtk-3.0/bookmarks
dotfiles/.config/Thunar/accels.scm

