[submodule "config/zsh/zsh-history-substring-search"]
	path = config/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "config/ranger/plugins/devicons2"]
	path = config/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2.git
