window {
    background-color: rgba(25, 19, 25, 0.92);
    color: #d8d8d8;
    font-family: JetBrainsMono;
}

#input {
    background-color: inherit;
    color: inherit;
    border: none;
    box-shadow: none;
}

#input > .left {
    margin-left: 2px;
    margin-right: 8px;
}

#entry {
    padding: 7px 5px;
}

#entry:selected {
    background-color: rgba(69, 61, 67, 0.8);
    outline: none;
}

#img {
    margin-right: 5px;
}

#text:selected {
    color: #d8d8d8;
}
